.header {
    text-align: center;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34b9, 20px -40px 50px #ec740c9d, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e, /* 3d effect follows */
    1px 1px 0 rgba(255, 255, 0, 0.712), 2px 2px 0 rgba(255, 166, 0, 0.644), 3px 3px 0 rgba(255, 0, 0, 0.658);
    width: 70%;
    margin: 0 auto;
    box-shadow: -3px 1px 22px 8px rgba(0, 0, 0, 0.47);
    padding: 35px;
    background-color: mediumvioletred;
}

.header h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 15px;
}